/* #loadarea
--------------------------- */
#loadarea {
    margin: 0 auto 10px auto;
    width: 500px;
    text-align: left;
}
#loadarea .loadItem {
    padding: 10px 0;
    width: 500px;
    line-height: 160%;
    border-bottom: #666 1px dotted;
}
#loadarea #item1 {
    border-top: #666 1px dotted;
}
#loadarea .loadItem img {
    margin: 0 15px 0 0;
    width: 200px;
    height: 200px;
    float: left;
}
 
/* #nowLoading
--------------------------- */
#nowLoading {
    padding: 5px 0;
    width: 100%;
    text-align: center;
}
 
/* #btnMore
--------------------------- */
#btnMore {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border: #000 1px solid;
    cursor: pointer;
}
 
/* =======================================
    ClearFixElements
======================================= */
#loadarea .loadItem:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}
#loadarea .loadItem {
    display: inline-block;
    overflow: hidden;
}